<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
class="com.k001.trainingdeveloper.javabackend.demoapplicationcontext.DataResource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost/database_name" />
        <property name="username" value="root" />
        <property name="password" value="admin1234" />
    </bean>


